{% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Sign Out {{current_user.username}}</a>
{% else %}
    <a href="{{ url_for('login') }}">Sign In</a>
{% endif %}
<br>
<br>

{% block navigation %}
<ul>
	<li><a href="/home">Home</a></li>
	<li><a href="/saved_photos">Saved</a></li>
	<li><a href="/messages">Messages</a></li>
	<li><a href="/all_models">All Cameras</a></li>
</ul>
<p>--------</p><br>
{% endblock %}

{% block content %}


<div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>

{% endblock %}