<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Saved Photos</title>
</head>
<body>

	{% extends 'navigation.html' %}
	
	{% block content %}
	{% for message in get_flashed_messages() %}
		{{ message }}
	{% endfor %}
	
	<h1>{{ current_user.first_name }}'s Saved Photos</h1>

	<ul>
		{% for each in photos %}
		<li><img src="{{ each.pic_url }}" alt="picture"><br>{{ each.title }}</li>
		<form action="" method = 'POST'>
			<button name = 'delete' value = {{ each.id }}>Unsave</button>
		</form>
		<form action="/send_photo{{ each.id }}" method = 'POST'>
			<button name = 'send' value = {{ each.id }}>Send Photo</button>
		</form>
		<br>
		<br>
		{% endfor %} 
	</ul>


	{% endblock %}

	
</body>
</html>